ADF-Test-Rick-1-rolling-timer/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-Test-Rick-1-rolling-timer"
		},
		"AzBlobCSVTest1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzBlobCSVTest1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzBlobCSVTest1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Test for ADF",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzBlobCSVTest1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Sample CSV file",
				"linkedServiceName": {
					"referenceName": "AzBlobCSVTest1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "InstacartInventoryPricing-20230309102045_truncated_.csv",
						"folderPath": "stage",
						"container": "csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "storeId",
						"type": "String"
					},
					{
						"name": "upcId",
						"type": "String"
					},
					{
						"name": "upcType",
						"type": "String"
					},
					{
						"name": "itemId",
						"type": "String"
					},
					{
						"name": "altUnitOfMeasure",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					},
					{
						"name": "approxPricePerEach",
						"type": "String"
					},
					{
						"name": "approxWeightPerEach",
						"type": "String"
					},
					{
						"name": "availability",
						"type": "String"
					},
					{
						"name": "sale_price",
						"type": "String"
					},
					{
						"name": "sale_start_at",
						"type": "String"
					},
					{
						"name": "sale_end_at",
						"type": "String"
					},
					{
						"name": "locations",
						"type": "String"
					},
					{
						"name": "p_id",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzBlobCSVTest1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineTestRollingSchedule')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Test Rolling schedule",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "storeId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "storeId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "upcId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "upcId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "upcType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "upcType",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "itemId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "itemId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "altUnitOfMeasure",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "altUnitOfMeasure",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "approxPricePerEach",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "approxPricePerEach",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "approxWeightPerEach",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "approxWeightPerEach",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "availability",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "availability",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sale_price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sale_price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sale_start_at",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sale_start_at",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sale_end_at",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sale_end_at",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "locations",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "locations",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "p_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "p_id",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Process Failed",
							"errorCode": "4602"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzBlobCSVTest1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "output.csv",
						"folderPath": "prod",
						"container": "csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzBlobCSVTest1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TumblingTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Tumbling Trigger",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "pipelineTestRollingSchedule",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 5,
					"startTime": "2023-03-13T17:35:00Z",
					"endTime": "2023-03-13T17:35:00Z",
					"delay": "00:01:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"count": 3,
						"intervalInSeconds": 420
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipelineTestRollingSchedule')]"
			]
		}
	]
}